body{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    text-decoration: none;
    background: #D6F4ED;
    color: white;

}
header{
    background-color: #473472;
    padding: 30px;
    text-align: center;
    align-items: left;
    display: flex;
    color: white;
    justify-content: center;
    
}

header img{
    width: 50px;
    margin-right: 20px;
    height: auto;
    margin: 0;
    padding-bottom: 5px;
    opacity: 0.1;
}

header h2{
    text-align: left;
    margin: 0;
    flex: 1;
    padding-left: 15px;
}

nav{
    background: #473472;
    display: flex;
    margin-left: auto;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 10px;
    justify-content: center;
}

nav ul li{
    position: relative;
    margin: 0 15px;
}

nav ul li a{
    padding: 8px 12px;
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #473472;
    border-radius: 4px;
}

nav ul li a :hover{
    background: #473472;
    border-radius: 10px;
    gap: 25px;
}

nav ul li ul{
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    background: #87BAC3;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    margin-top: 15px;
}

nav ul li ul li {
    margin: 0;
    width: 150px;
}

nav ul li ul li a {
    padding: 15px;
    font-weight: normal;
    gap: 20px;
    background: #87BAC3;
}

nav ul li:hover ul {
    display: block;
    background-color: #53629E;
    color: black;
    }

.desc{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-image: url('bgwp.jpeg') ;
    background-size: cover;
    background-position: center;
}

.descs{
    margin: 0;
    flex: 4px;
    width: 180px;
}

.mflores{
    justify-content: space-around;
    padding: 20px;
}

.sflores{
    margin: 0;
    flex: 4px;
    width:930px;
    border: 3px solid #D6F4ED;
    border-radius: 10px;
    padding: 20px;
    box-shadow: #D6F4ED;
    background-color:#53629E;
}

.mjatim{
    justify-content: space-around;
    padding: 20px;
}

.sjatim{
    margin: 0;
    flex: 4px;
    width:930px;
    border: 3px solid #D6F4ED;
    border-radius: 10px;
    padding: 20px;
    box-shadow: #D6F4ED;
    background-color:#53629E;
}

.mlombok{
    justify-content: space-around;
    padding: 20px;
}

.slombok{
    margin: 0;
    flex: 4px;
    width:930px;
    border: 3px solid #D6F4ED;
    border-radius: 10px;
    padding: 20px;
    box-shadow: #D6F4ED;
    background-color:#53629E;
}

section article{
    border: 3px solid #D6F4ED;
    border-radius: 10px;
    padding: 20px;
    box-shadow: #D6F4ED;
    background-color:#53629E;
}

section h2{
    text-align: center;
    text-decoration: double;
}

h2{
    text-align: center;
    text-decoration: none;
    color: #473472;
}

.h2main{
    color: white;
    font-size: 22px;
    margin-top: 10px;
}

.h2rec{
    text-align: center;
    text-decoration: none;
    align-items: center;
    align-content: center;
    color: #473472;
}

.h2desc{
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.6);
    font-size: 39px;
}

.h2p{
    color: #D6F4ED;
}

.rec{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #D6F4ED;
}

.recs{
    margin: 0;
    flex: 3;
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    width: 1000px;
    height: 250px;
}

.recs article{
    align-content: center;
    min-width: 120px;
    text-align: center;
}

.recs article a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.6,);
}

p{
    text-align: center;
}

.flores{
    background-image: url('labuanbajo3_flores.jpeg');
    background-position: center;
    background-size: cover;
    text-decoration: none;
    color: black;
    min-width: none;
    font-weight: bold;
}

.jawatimur{
    background-image: url('kawahijen2_jatim.jpeg');
    background-position: center;
    background-size: cover;
    text-decoration: none;
    color: black;
    min-width: none;
    font-weight: bold;
}

.lombok{
    background-image: url('lombok_bckgrnd.jpeg');
    background-position: center;
    background-size: cover;
    font-weight: bold;
    text-decoration: none;
    color: black;
    min-width: none;
}

footer{
    text-align: center;
    line-height: 50px;
    align-items: center;
    color: #473472;
}

.labuanbajo{
    background-image: url('labuanbajo2_flores.jpeg');
    background-position: center;
    background-size: cover;
    text-decoration: none;
    color: black;
    min-width: none;
    font-weight: bold;
}

.savanamausui{
    background-image: url('savanamausui2_flores.jpeg');
    background-position: center;
    background-size: cover;
    text-decoration: none;
    color: black;
    min-width: none;
    font-weight: bold;
}

.waerebo{
    background-image: url('waerebo2_flores.jpeg');
    background-position: center;
    background-size: cover;
    text-decoration: none;
    color: black;
    min-width: none;
    font-weight: bold;
}

.kawahijen{
    background-image: url('kawahijen2_jatim.jpeg');
    background-position: center;
    background-size: cover;
    text-decoration: none;
    color: black;
    min-width: none;
    font-weight: bold;
}

.kebunbungahortensia{
    background-image: url('kebunbungahortensia1_jatim.jpeg');
    background-position: center;
    background-size: cover;
    text-decoration: none;
    color: black;
    min-width: none;
    font-weight: bold;
}

.tumpaksewu{
    background-image: url('tumpaksewu1_jatim.jpeg');
    background-position: center;
    background-size: cover;
    text-decoration: none;
    color: black;
    min-width: none;
    font-weight: bold;
}

.gilitrawangan{
    background-image: url('gilitrawangan1_lombok.jpeg');
    background-position: center;
    background-size: cover;
    text-decoration: none;
    color: black;
    min-width: none;
    font-weight: bold;
}

.mandalikacircuit{
    background-image: url('mandalikacircuit3_lombok.jpeg');
    background-position: center;
    background-size: cover;
    text-decoration: none;
    color: black;
    min-width: none;
    font-weight: bold;
}

.pantaitangsi{
    background-image: url('pantaitangsi1_lombok.jpeg');
    background-position: center;
    background-size: cover;
    text-decoration: none;
    color: black;
    min-width: none;
    font-weight: bold;
}

.savanaa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 25px;
    border-image: round;
    text-align: justify;
}

.savanaa img{
    width: 300px;
    height: 300px;
    padding-left: 10px;
}

.waereboa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 25px;
    border-image: round;
    text-align: justify;
}

.waereboa img{
    width: 300px;
    height: 300px;
    padding-left: 10px;
}

.labuana{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 25px;
    border-image: round;
    text-align: justify;
}

.labuana img{
    width: 300px;
    height: 300px;
    padding-left: 10px;
}

.tumpaka{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 25px;
    border-image: round;
    text-align: justify;
}

.tumpaka img{
    width: 300px;
    height: 300px;
    padding-left: 10px;
}

.kawaha{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 25px;
    border-image: round;
    text-align: justify;
}

.kawaha img{
    width: 300px;
    height: 300px;
    padding-left: 10px;
}

.kebuna{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 25px;
    border-image: round;
    text-align: justify;
}

.kebuna img{
    width: 300px;
    height: 300px;
    padding-left: 10px;
}

.gilia{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 25px;
    border-image: round;
    text-align: justify;
}

.gilia img{
    width: 300px;
    height: 300px;
    padding-left: 10px;
}

.mandaa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 25px;
    border-image: round;
    text-align: justify;
}

.mandaa img{
    width: 300px;
    height: 300px;
    padding-left: 10px;
}

.pantaia{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 25px;
    border-image: round;
    text-align: justify;
}

.pantaia img{
    width: 300px;
    height: 300px;
    padding-left: 10px;
}

#kontak {
  margin-top: 50px;
  text-align: center;
}

#kontak h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.contact-form {
  background: #fff;
  border: 1px solid #e6eef8;
  padding: 30px 40px;
  border-radius: 16px;
  max-width: 600px;
  margin: 0 auto 50px;
  box-shadow: -5px 15px 30px rgba(16,24,40, 0.1);
  text-align: left;
}

.contact-form label {
  display: block;
  margin-bottom: 6px;
  color: #333;
  font-weight: bold;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 15px;
  transition: border 0.3s, box-shadow 0.3s;
}

.contact-form input:focus, .contact-form textarea:focus {
  border-color: #2b6cb0;
  box-shadow: 0 0 8px rgba(43, 108, 176, 0.2);
  outline: none;
}

.contact-form button {
  display: block;
  width: 100%;
  padding: 12px;
  background: rgba(43, 108, 176, 0.9);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer; 
  transition:  0.3s, transform 0.2s;
}

.contact-form button:hover {
  background: rgba(43, 108, 176, 1);
  transform: translateY(-2px);
}








